body{
    background-color:  rgb(226, 223, 223);
}

#logo{
    position: absolute;
    z-index: 1;
    top: 4%;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#diva {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#divs{
    padding: 3vh;
    margin: 3vh;
    height: 60vh;
    width: 28%;
    box-shadow: 5px 5px 20px grey;
    overflow: hidden;
}




.pics{
    position: relative;
    width: 100%;
    height: 80%;
    
    
}

.a{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.b{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
    
}

.b:hover{
    opacity: 0;
}


.Description{
    text-align: center;
    transition: 1s;
}


.Description:hover{
    background-color:  rgb(216, 252, 162);
    padding: 3%;
    height: auto;
    width: 30vw;
    border-radius: 20%;
    /* transform:scale(110%); */
    transition: 0.9s;
    z-index: 2;
    position: absolute;
    
    
   
}

button{
    opacity: 0.8;
    width: 50%;
}

h4{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
a{
    text-decoration: none;

}

@media screen and (max-width:1024px){
    body{
        background-color: rgb(231, 255, 196);
    }

}

@media screen and (max-width:768px){
    body{
        background-color: rgb(231, 255, 196);
    }

    #divs{
        padding: 3vh;
        margin: 4vh;
        height: 60vh;
        width: 43%;
        box-shadow: 5px 5px 20px grey;
        overflow: hidden;
    }
}



@media screen and (max-width:426px){
    body{
        background-color: rgb(232, 232, 240);  
      }

    #divs{
        padding: 3vh;
        margin: 4vh;
        height: 60vh;
        width: 70vw;
        box-shadow: 5px 5px 20px grey;
        overflow: hidden;
    }

    .Description:hover{
        width: 60vw;
    }

 
    
}



